<div class="card">

  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between mb-0">
      <span>Projects</span>
      <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
    </h2>
  </div>

  <div class="card-body">

    <% @projects.each do |project| %>
      <%= link_to project, class: 'text-decoration-none' do %>
        <div class="card">
          <div class="card-body">
            <h4 class="mb-0"><%= project.name %></h4>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

</div>

