/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

// Colors
$blue: #6aa3d4;
$green: #73ee86;
$light-green: #c0ff92;
$yellow: #ffec7e;
$orange: #ffc063;
$violet: #727DF5;
$light-violet: #b6c3fb;
$red: #ec715d;
$navy: #252634;
$light-grey: #f7f7f9;
$dark-grey: #323A46;

// Default text color
$body-color: #292929;

$theme-colors: (
        "primary": $violet,
        "danger": $red,
        "dark": $dark-grey,
        "light": $light-violet,
        "success": $green,
        "warning": $navy
) !default;

@import "bootstrap";

body {
  background: #eeeeee;
}

.dark-text-link {
  color: $body-color;
}

.badge-not-started {
  background-color: $orange;
}

.badge-in-progress {
  background-color: $blue;
}

.badge-complete {
  background-color: $green;
}

.badge-red {
  background-color: $red;
}

.badge-orange {
  background-color: $orange;
}

.badge-yellow {
  background-color: $yellow;
}

.badge-light-green {
  background-color: $light-green;
}

.badge-green {
  background-color: $green;
}

.hover-background{
  &:hover {
    background-color: $light-grey;
  }
}